.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
lex.yy.c
lex.yyfunc.c
y.tab.c
y.tab.c-e
y.tab.h
yyfunc.tab.c
yyfunc.tab.h
*.tmp
*.tbl
*.bin
*.o
*.meta
*.bigq
*.out

